{% extends 'navbar.html' %}

{%block content%}
    <div class="container-fluid" style="
    display: flex;
    justify-content: center;
    text-align: center;">
        <div class="row mb-5 mt-5" style="
        display: flex;
        justify-content: center;">
            <h1><b>Order Placed!</b><br><h6 class="text-muted"> We have received your order. Thanks for shopping with us!</h6> </h1>
            <a type="button" href='/catalog' class="btn mb-5 mt-5 btn-outline-secondary btn-block btn-lg" style="width: 300px;"><i class="fa-solid fa-arrow-left"></i> Back to Shopping</a>
        </div>
          </div>
        <!-- <div class="row">
            <h6 class="text-muted"> We have received your order. Thanks for shopping with us</h6>        
        </div> -->
    </div>
{%endblock%}